#indexPageDiv{
    text-align: center;
    margin-top:200px;
}
.forEmployer{
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    padding:7px;
}
.errorMessage{
    color:red;
    float:left;
}
#skillsTextArea{
    width:182px;
}
#postJobsForm{
    margin-top: 60px;
    margin-left:400px;
    position: absolute;
    z-index: 1;
    position: fixed;
}
#closeForm{
    float: right;
    cursor: pointer;
}
.card{
    width:800px;
    margin: auto;
}
.postedPagePostedBy{
    float: right;
}
.postedPageRequiredSkills{
    text-align: center; 
}
.btn{
    float: right;
}
.applyButton{
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    width:70px;
}
#availableJobsHead{
    text-align: center;
}
.statusFlag{
    float: right;
}
#postedJobsHead{
    text-align: center;
}
/* .numberOfApplications{
    float:right;
    margin-right:40px;
} */
#applyJobsForm{
    margin-top: 60px;
    margin-left:400px;
    position: absolute;
    z-index: 1;
    position:fixed;
}
#applyCloseForm{
    float: right;
    cursor: pointer;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:black;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav span {
    cursor: pointer;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
  }
  #employeeRegisterPage{
      color:#007bff;
      text-decoration: underline;
  }
  #employeeRegisterPage:hover{
    color:#007bff;
    cursor: pointer;
  }
  .sidenav span:hover {
    color: #f1f1f1;
  }
  #employeeHomeBodyH3{
      text-align: center;
  }
  #userProfile{
      margin: auto;
      display:none;
      width:450px; 
  }
  #OtherPreferences{
    display:none;
  }
  #ProfileSkillsTextArea {
      width:182px;
  }
  #profilePreferedDesignations{
      width:182px;
  }
  #userProfile input {
      background-color: #f1f1f1;
  }
  #userProfile textarea  {
    background-color: #f1f1f1;
}
/* .showProfileBody input{
    background-color: white;
  } */
  #editUserDetailsButton{
      float: right;
  }
  #EmployerLoginForm{
      margin:auto;
      margin-top:100px;
      width:350px;
  }
  #EmployeeLoginForm{
    margin:auto;
    margin-top:100px;
    width:350px;
  }
  #EmployeeRegisterForm{
    margin:auto;
    width:auto;
    height: auto;
  }
  #EmployerRegisterForm{
    margin:auto;
    width:auto;
    height: auto;
  }
  #filterSelectTag{
      /* margin-left:px; */
      width:auto;
  }
  #filterSelectTag1{
    /* margin-left:900px; */
    width:auto; 
 }
 #employerHomeBodyH3{
     text-align: center;
 }
 .AppliedPagePostedBy{
     float: right;
 }
 #selectTagSalary{
     margin-left: 900px;
 }
 #selectTagDesignations{
     margin-left:10px;
 }
 #salarySelect{
     display: none;
     width:100px;
     margin-left: 900px;
     position: absolute;
     z-index: 1;
 }
 #designationsSelect{
     display: none;
     margin-left: 1025px;
     position: absolute;
     z-index: 1;
 }
 .downicon{
     font-size: x-small;
 }
 #actionMessageEmployeeHome{
     width:300px;
     text-align: center;
     position: absolute;
     margin-left:480px;
     z-index:1
 }
 #comapanyName{
     background-color: #e9ecef;
 }
 #employerProfile{
    margin: auto;
    display:none;
    width:450px; 
}
#employerProfile input {
    background-color: #f1f1f1;
}
#actionMessageEmployerHome{
    width:300px;
    text-align: center;
    position: absolute;
    margin-left:480px;
    z-index:1
}